<h1>Child component "test" - Welcome to Session 2</h1>
<ul>
    <li><h2>Data Interpolation</h2></li>
    <li><h2>Property</h2></li>
    <li><h2>Class Binding</h2></li>
    <li><h2>Event Binding</h2></li>
    <li><h2>Style Binding</h2></li>
    <li><h2>Template reference variables</h2></li>
    <li><h2>Two way binding</h2></li>
    <li><h2>*ngIf Directive</h2></li>
    <li><h2>*ngSwitch Directive</h2></li>
    <li><h2>*ngFor Directive</h2></li>
    <li><h2>Component Interaction</h2></li>
    <li><h2>Pipes</h2></li>
</ul>